<div id="pagewrap">
	
	<div id="share-wrapper">
  	</div>

  <div id="header-wrapper">
    <div id="header-logo">
      <img src="../../assets/logo_test.png">
    </div>
    <div id="header-text">
      <h1>Ändra en organisation</h1>
     	<span>Tänk på att fylla i alla fält och ge en kort beskrivning av vad kursen innehåller. </span>
    </div>
   </div>

   <div class="spacer span8"></div>   

<%= render 'form' %>

</div>