<div id="pagewrap">
	
	<div id="share-wrapper">
  	</div>

  <div id="header-wrapper">
    <div id="header-logo">
      <img src="../../assets/logo_test.png">
    </div>
    <div id="header-text">
      <h1>Ändra en organisation</h1>
     	organisationer 
    </div>
   </div>

<%= render 'form' %>

<%= link_to 'Show', @org %> |
<%= link_to 'Back', orgs_path %>

</div>