<% title 'Alla användare' %>

<div id="pagewrap">
  <div id="share-wrapper">

  </div>

  <div id="header-wrapper">
    <div id="header-logo">
      <img src="../assets/logo_test.png">
    </div>
    <div id="header-text">
      <h1>Alla användare</h1>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse posuere nisl vitae nibh pellentesque porta. Vivamus eget libero eu urna egestas placerat ut vitae nunc. Fusce interdum porttitor diam, eget pharetra magna fermentum laoreet. Nulla viverra commodo fringilla. Fusce lorem dui, congue in tristique sit amet, eleifend et nisi. Sed risus augue, porttitor et tristique ut, lacinia porta sem. 
    </div>
  </div>

  <div class="spacer span8"></div> 

  <div id="result-wrapper">

    <% if @users && @users.first %>
      <% @users.each.with_index do |user, i| %>
        <div id="result" class='span8 <%= (i%2 == 0) ? "" : "stripped" %>'>
          <div class="span2"><%= link_to user.email, user %></div>  
          <div class="span2"><%= user.role %></div>
          <div class="span3"><%= user.created_at %></div>  
        </div>
      <% end %>

    <% else %>
      <div id="result" class="span8">
        <span>Ops. Sorry, det finns användare.</span>
      </div>
    <% end %>

  </div>

<div class="spacer span8"></div> 

<div class="spacer-large span8"></div> 
</div>