<form method="get">
<% tags_array = Tag.all.map { |tag| [tag.name, tag.id] } %>
<% provinces_array = Course.provinces.map { |province| [province, province] } %>

<%= select_tag(:tag_filter, options_for_select(tags_array)) %>
<%= select_tag(:province_filter, options_for_select(provinces_array)) %>

<input type="submit" value="Filter" />
</form>