<div id="pagewrap">
	
	<div id="share-wrapper">
  	</div>

  <div id="header-wrapper">
    <div id="header-logo">
      <img src="../../assets/logo_test.png">
    </div>
    <div id="header-text">
      <h1>Ändra en tag</h1>
    </div>
   </div>

<%= render 'form' %>

<%= link_to 'Show', @location %> |
<%= link_to 'Back', locations_path %>

</div>