<% title 'Alla taggar' %>

<div id="pagewrap">


  <div class="empty-box"></div>
  <div class="white-box">

    <div id="header-text">
      <h1>Alla Taggar</h1>
      <p>Här är alla tillgängliga taggar, klicka på en tag för att visa alla kurser som tillhör den kategorin.<br />
        Bacon ipsum dolor sit amet chuck shank pork loin fatback jerky tongue spare ribs sirloin, sausage pork belly flank short ribs prosciutto hamburger brisket. Beef salami hamburger boudin tri-tip tail chuck ball tip meatball pork chop turducken strip steak sirloin. Pork chop cow pancetta tongue. Meatball beef jowl pork loin. Spare ribs tail shoulder drumstick, shankle turducken cow frankfurter jowl ribeye meatloaf.</p>
    </div>
  

  <div id="result-wrapper">  
    <div class="span4">
      <% @tags.each do |tag| %> 
        <div id="result-category" class="badge badge-important"><%= link_to tag.name, tag %></div>        
      <% end %>
    </div>
  </div>
    
  <div class="spacer-small span8"></div>

  <% if can? :update, Tag %>
    <div class="span8"><%= link_to 'Skapa ny tag', new_tag_path, :class => 'btn btn-info' %></div>
<% end %>
</div>
</div>