<div id="pagewrap">
  <div id="share-wrapper">

  </div>

  <div id="header-wrapper">
    <div id="header-logo">
      <img src="assets/logo_test.png">
    </div>
    <div id="header-text">
      <h1>Alla Tags</h1>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
    </div>
  </div>

  <div id="result-wrapper">  
    <div id="result">
    <% @tags.each do |tag| %>    
      <div id="result-tag-category"><%= link_to tag.name, tag %></div>    
    <% end %>
    </div>
    
    <div style="margin-top:100px">
      <%= link_to 'New Tag', new_tag_path %>
    </div>
  </div>

</div>