<% title 'Skapa en ny tag' %>

<div id="pagewrap">
	
	<div id="share-wrapper">
  	</div>

  <div id="header-wrapper">
    <div id="header-logo">
      <img src="../assets/logo_test.png">
    </div>
    <div id="header-text">
      <h1>Lägg till en ny tag</h1>     	 
    </div>
   </div>

<%= render 'form' %>

<%= link_to 'Back', tags_path %>

</div>