<% title 'Skapa en ny tag' %>

<div id="pagewrap">

  <div class="empty-box"></div>
  <div class="white-box-small">

    <div id="header-text">
      <h1>Lägg till en ny tag</h1>     	 
    </div>

<%= render 'form' %>

</div>
</div>
