// Place all the styles related to the Courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#result-courses{
	width: 870px;
 	-moz-box-shadow: 0px 1px #fff;
	-webkit-box-shadow: 0px 1px #fff;
	box-shadow: 0px 1px #fff;
	font-size:14px;
	font-weight:bold;
	color: #333;
	margin-bottom: 30px;
}

#result-date {
	width: 120px;	
	float: left;
	margin:5px 5px 5px 0px;
	padding: 9px 0px 0px 5px;
}

#result-course-name {
	width: 100px;	
	float: left;
	margin:5px 5px 5px 0px;
	padding: 9px 0px 0px 5px;
}

#result-category-header {
	width: auto;
	float: right;
	
	margin:10px;
	padding: 3px 10px 3px 10px;
	
	text-align:center;
	letter-spacing: 1px;
	font-weight:300;
	color: #fff;

}

#result-category-header a{
	color: #fff;
	text-decoration: none;
}

.category-checkbox {
	width: auto;
	float: left;
	
	margin:10px;
	padding: 3px 10px 3px 10px;
	
	border: 1px solid #009E4B;
	background: #00B158;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 0px 1px #999;
	-webkit-box-shadow: 0px 1px #999;
	box-shadow: 0px 1px #999;
	
	text-align:center;
	letter-spacing: 1px;
	font-weight:300;
	color: #fff;
	text-shadow: 0px -1px #00592A;
}

.clear {
	clear:both;
}

#result-wrapper img {
	margin-right:5px;
}

#result-course-date {
	width: 120px;	
	float: left;
	margin:5px 5px 5px 0px;
	padding: 9px 0px 0px 5px;
}

#result-legend {
	width: 870px;
 	-moz-box-shadow: 0px 1px #fff;
	-webkit-box-shadow: 0px 1px #fff;
	box-shadow: 0px 1px #fff;
	font-size:14px;
	font-weight:300;
	color: #333;
}

.span-legend {
	float: left;
	font-size : 13px;
	font-weight: 300;
	margin-right: 10px;
	margin-left: 10;
}

.span-result {
	float: left;
	font-size : 13px;
	margin-left: 0;
}


#result-sessions {
	float: left;
}

.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; }
.ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }

