// Place all the styles related to the Courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#result-course-name {
	width: 100px;	
	float: left;
	margin:5px 5px 5px 0px;
	padding: 9px 0px 0px 5px;
}

.category-checkbox {
	width: auto;
	float: left;
	
	margin:10px;
	padding: 3px 10px 3px 10px;
	
	border: 1px solid #009E4B;
	background: #00B158;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 0px 1px #999;
	-webkit-box-shadow: 0px 1px #999;
	box-shadow: 0px 1px #999;
	
	text-align:center;
	letter-spacing: 1px;
	font-weight:300;
	color: #fff;
	text-shadow: 0px -1px #00592A;
}

.clear {
	clear:both;
	height: 40px;
}

#result-course-date {
	width: 120px;	
	float: left;
	margin:5px 5px 5px 0px;
	padding: 9px 0px 0px 5px;
}

#result-course-times {
	width: 80px;	
	float: left;
	margin:5px 5px 5px 0px;
	padding: 9px 0px 0px 5px;
}