// Place all the styles related to the Locations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#result-location-name {
	width: 200px;	
	float: left;
	margin:5px 5px 5px 0px;
	padding: 9px 0px 0px 5px;
}

#result-coord {
	width: 100px;	
	float: left;
	margin:5px 5px 5px 0px;
	padding: 9px 0px 0px 5px;
}