// Place all the styles related to the Tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#result-tag-category a {
	width: auto;
	float: left;
	
	margin:10px;
	padding: 3px 10px 3px 10px;
	
	border: 1px solid #009E4B;
	background: #00B158;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 0px 1px #999;
	-webkit-box-shadow: 0px 1px #999;
	box-shadow: 0px 1px #999;
	
	text-align:center;
	letter-spacing: 1px;
	font-weight:300;
	color: #fff;
	text-shadow: 0px -1px #00592A;

	font-weight: normal;
	text-decoration: none;
}