<% title @location.name %>

<div id="pagewrap">
	
	<div id="share-wrapper">
  	</div>

  <div id="header-wrapper">
    <div id="header-logo">
      <img src="../../assets/logo_test.png">
    </div>
    <div id="header-text">
      <h1><%= @location.name %></h1>
    </div>
   </div>

  <div class="spacer span8"></div> 

  <%= render 'form' %>

  <div class="spacer span8"></div> 

</div>